body {
    background-color: black;
    padding: 0;
    margin: 0;
}
.main {
    display: flex;
    margin-top: 15%;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: black;
}
.main__title {
    font: 70px/20px Thasadith, sans;
    text-decoration: none;
    margin-top: 50px;
    display: flex;
    color: white;
}
.main__des {
    display: flex;
    text-align: center;
    color: white;
    font: 50px/80px Pacifico, cursive;
    text-decoration: none;
    margin-top: 100px;
}
